*{
    margin:0;
    padding:0;
}

body {
    background: #fff;
    font-size: 18px;
}

.container {
    margin:auto;
}
.wrapper {
    margin-top:1em;
}
.pagination {
    justify-content: center;
}


